# GeoNode sticky session config used by robot package.
# Sticky-only mode is enforced.
# Username format generated automatically:
#   GEONODE_USER-type-GEONODE_TYPE[-country-GEONODE_COUNTRY]-session-<session_id>-lifetime-<minutes>

GEONODE_USER=
GEONODE_PASS=
GEONODE_HOST=proxy.geonode.io
GEONODE_PORT=10000
GEONODE_TYPE=residential
GEONODE_COUNTRY=
GEONODE_LIFETIME=10
